@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

:root {
    --primary-color: #0F9D58;
    --background-color: #f0f3f7;
    --secon-color: #9da2ad;
    --grey: #7a7a7b;
    --white: #ffffff;
    --footer: rgb(255, 224, 224);
    --chu: black;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: unset;
    text-decoration: none;
}

body,
html {
    background-color: var(--background-color);
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
    max-width: 100%;
}

h1,
h3,
h3 {
    padding-top: 10px;
    font-size: 1.5rem;
    color: var(--chu);
}

h3 {
    font-size: 1.1rem;
}

p {
    position: relative;
    text-align: justify;
    color: var(--grey);
    font-size: 17px;
    padding: 10px 0;
    line-height: 1.5rem;
}
#noidung{
    max-width: 90%;
    margin-left: 5%;
}
#noidung p{
    font-size: 16px;
    color: var(--chu);
}
#noidung h2{
    font-size: 20px;
}
#noidung ul{
    margin-left: 5%;
}

.banner .ndchinh {
    max-width: 30%;
    height: 400px;
    padding: 55px 50px;
    box-shadow: 1px 1px 50px rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.336);
    color: var(--white);
}

.banner .ndchinh ol li {
    padding: 5px 0px;
    color: var(--chu);
}
.banner .ndchinh ol li a {
    color: var(--chu);
    font-weight: 600;
}

.banner .cactinhthanh {
    position: relative;
    right: -100px;
    max-width: 50%;
    max-height: 400px;
    padding: 60px 50px;
    overflow-y: scroll;
    box-shadow: 1px 1px 50px rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.336);
    color: var(--white);
}
#tinhnho{
    color: var(--chu);
}

.phannoidung {
    position: relative;
    max-width: 100%;
    top: 4rem;
}
.ndchinh h3 , .cactinhthanh h3{
    color: var(--primary-color);
}

#noidung img {
    margin-left: 20%;
    width: 55%;
    box-shadow: 5px 5px 20px rgba(31, 31, 31, 0.664);
}

.menu-item:hover,
.menu-item.active3 {
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
}

#active1 {
    color: var(--grey);
    background-color: var(--background-color);
    border-radius: 1rem;
}

#active1:hover {
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
}
#thongtin p a {
  line-height: 2rem;
  padding-top: 0px;
}
